//! Document crate

extern crate num;
extern crate quickcheck;
extern crate {{parent}}{{^parent}}intrors{{/parent}}_{{project}}{{^project}}util{{/project}};

#[cfg(test)] mod tc_new;
#[cfg(test)] mod tp_new;
//#[cfg(test)] mod tc_classic;
//#[cfg(test)] mod tp_classic;
