[workspace]

[package]
name = "dummy"
version = "0.1.0"
description = """
Dummy package to fetch/build dependencies for Makefile
"""

exclude = ["target/**/*", "build/**/*", "**/*~"]
#include = ["resources/**/*", "**/doc/*", "**/*.rs", "Cargo.toml"]

rust-version = "1.57"
edition = "2021"

[dependencies]
libc = ">=0.2"
num = ">=0.4"
itertools = ">=0.10"
log = ">=0.4"
rust-ini = ">=0.18"

quickcheck = ">=1.0"

pkg-config = ">=0.3"
{{#executable}}
env_logger = ">=0.9"
log4rs = { version = ">=1.0", features = ["toml_format"] }
argparse = ">=0.2"
getopts = ">=0.2"
regex = ">=1.5"
chrono = ">=0.4"
rand = ">=0.8"
serde_json = ">=1.0"
toml = ">=0.5"
yaml-rust = ">=0.4"
{{/executable}}

[lib]
#name = "dummy"
path = "lib_dummy.rs"
#crate-type = ["lib"] # ["rlib", "dylib", "staticlib"]
